<p id="notice"><%= notice %></p>

<p>
  <strong>Reward:</strong>
  <%= @adventure_option_result.reward %>
</p>

<p>
  <%= link_to 'Random Adventure', { :controller => :adventures, :action => :random } %>
</p>
