<p id="notice"><%= notice %></p>

<p>
  <%= @adventure.text %>
</p>

<p>
<% if @adventure_options.size > 0 %>
  <% @adventure_options.each do |adventure_option| %>
    <%= link_to adventure_option.option_text, adventure_options_random_result_path(id: adventure_option.id, adventure_option_id: adventure_option.id) %></td>
    </br>
  <% end %>
<% end %>
<% if @adventure_options.size < 1 %>
  No adventure option
<% end %>
